* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    max-width: 90%;
    margin: auto;
    font-family: "Oswald", sans-serif;
    background-color: black;
    color: white;
}


.navegacion-principal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;

}

.navegacion-principal__marca {
    width: 50px;
    height: 50px;
    display: flex;
}


.navegacion-principal__menu {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    padding: 10px 0;
}


.navegacion-principal__menu a {
    color: white;
    text-decoration: none;
    margin: 0 5px;

}

.navegacion-principal__menu a:hover {
    color: rgb(8, 56, 38);
    text-decoration: underline;

}

.navegacion-principal__menu-derecha {
    display: flex;
    justify-content: flex-end;
    list-style: none;
}

.navegacion-principal__menu-derecha a {
    color: #fff;
}

.navegacion-principal__menu-derecha a:hover {
    color: rgb(8, 56, 38);
}

.cabecera {
    background-image: url('/Assets/Images/showcase.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 250px;
    margin-top: 20px;
    display: grid;
    place-items: center;
    text-align: center;
}

.cabecera .boton {
    background-color: rgb(63, 61, 61);
    color: #fff;
    border: 2px solid #fff;
    padding: 8px 17px;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
}

.cabecera .boton:hover {
    background-color: rgb(102, 100, 100);
}

.tarjetas-noticias {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    text-align:center;
    margin-top: 20px;
}

.tarjetas-noticias__tarjeta {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tarjetas-noticias__tarjeta img {
    width: 100%;
    height: 170px;

}

.tarjetas-noticias__tarjeta h3 {
    margin: 15px 10px;
}

.tarjetas-noticias__tarjeta a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    margin: 15px 10px;
}

.tarjetas-noticias__tarjeta a:hover {
    text-decoration: underline;

}