* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    max-width: 90%;
    margin: auto;
    font-family: "Oswald", sans-serif;
    background-color: black;
    color: white;
}


.navegacion-principal {
    padding: 20px;

}

.navegacion-principal__menu {
    color: white;
    display: flex;
    flex-direction: row;
    text-decoration: none;
    list-style: none;
    justify-content: center;
    align-content: space-around;
    

}

navegacion-principal__menu li {
    display: flex;
    align-content: space-between;
}

.navegacion-principal__menu-derecha{
    margin: auto;
    display: flex;
    justify-content: end;
    list-style: none;
    text-align: center;
    

}